.contact-form {
    input,textarea {
        width: 85%;
        background-color: $darkest-black;
        margin-bottom: 1em;
        border:0;
        border-bottom: 2px solid #fff;
        font-family: 'Rubik', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        color: #fff;
    }
    input:focus,textarea:focus {
        outline:none;
    }

    button {
        background-color: white;
        
        margin: 2em 0 2em 0;
        width: 7em;
        height: 3em;  
        font-size:0.9em;
        border: none; 
        cursor:pointer;
    }

    button:active {
        transform: scale(0.94);
    }
    ::placeholder {
        color: white;
        font-family: 'Rubik', sans-serif;
        opacity: 0.8;
    }
}