@media only screen and (max-width: 1300px){

    .tiles-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }

    .project-tile {
        flex: 50%;
        height: 150px;
    }
}


@media only screen and (max-width: 1000px) {
    .hero-section {
        .type-effect {
            font-size: 7vw;
        }
        .name-title {
            font-size: 9vw;
        }
    }
    .type-effect p span.cursor {
        width: 2px;
        height: 8vw;
      }

    a.hamburger {
        display: block;
    }

    .contact {
        @include center-column;
        width: 100vw;
        .contact-form {
            @include center-column;
        }

        .form-container {
            @include center-column;
            width: 60vw;
        }
        .form-cap {
            width: 85vw;
            @include center-column;

            h1 {
                line-height: 1.2;
                padding-bottom: 0.8em;
            }
        }
        .info {
            text-align: center;
        }
    }
    
    
}

@media only screen and (max-width:770px){
    .form-container {
        width: 100vw;
    }

    .form-cap {
        width: 100vw;
      

    }

    .contact-form {
        width: 100vw;
    }
}

@media only screen and (max-width: 630px){
    .contact {
        .form-cap {
            width: 100vw;
            h1 {
                font-size: 2em;
                line-height: 1.2;
            }
            h2 {
                font-size: 1.5em;
            }
        }
    }
    
    .mobile-menu {
        padding:0;

        ul {   
            li {
                font: {
                    size: 2em;
                }
            }
        }
    }
    .close-icon > i{
        margin-right: 0.2em;
    }
    .project-tile {
        height: 200px;
    }
    main {
        width: 100vw;
    }
    a.hamburger {
        display: block;
    }
    nav {
        a.hamburger {
            display: block;
            font-size: 1.5em;
        }
        ul {
            display: none;
        }
    }
    
}

@media only screen and (max-width: 450px) {
    body, main {width: 100vw;}
    .hamburger{
        padding-right: 1em;
    }
    .project-tile {
        width: 100%;
        height: 200px;

        h2 {
            font-size: 2em;
        }
    }
    .contact-form,.form-cap,.form-container{
        width: 100vw;
    }
    
}

@media only screen and (max-width: 370px) {
    .project-tile {
        margin-right: 0;
    }

    nav {
        width: 100vw;
        div {
            padding-left: 2em;
        }
        
    }
    .logo {
        h3 {

            font-size: 1.1em;

        }
    }

    
}