.type-effect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-effect p {
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.type-effect p span.typed-text {
  color: $yellow;
}
.type-effect p span.cursor {
  display: inline-block;
  background-color: $yellow;
  margin-left: 0.1rem;
  width: 2px;
  height: 4.3vw;
  animation: blink 1s infinite;
}
.type-effect p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
